@import url("https://fonts.googleapis.com/css2?family=Allison&family=Castoro+Titling&family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Catamaran:wght@100..900&display=swap");

@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.modeling-logo {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

a {
  font-family: "Catamaran", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  font-size: 16px;
}

.brand-sub {
  font-family: "Catamaran", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  font-size: 18px;
}

.brand-logo {
  font-family: "Allison", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 270px;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 20px;
  height: auto;
}

.left-section img {
  width: 500px;
  height: 700px;
  overflow: hidden;
  margin-top: 30px;
  padding-top: 100px; 
}

.right-section {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.vertical-text {
  writing-mode: vertical-rl;  
  text-orientation: mixed; 
  font-size: 6.2rem; 
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  left: -20%;  
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap; 
  width: auto; 
  letter-spacing:6px; 
  font-family: "implicity", serif;
  margin-top: 50px;
}


.content {
  margin-top: 30px;
  padding-top: 100px; 
  font-family: "arial", serif;
  font-size: 1.5rem;
  line-height: 1;
  text-align: justify;
  color: #e0e0e0;
  letter-spacing: 1.3px;
  margin-top: 80px;
}

.tagline {
  font-family: "Timeless", serif;
  font-size: 3rem;
  line-height: 2;
  color: #ffffff;
  font-weight: bolder;
}
